body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardFront{
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 2px #0000004d;
  transition: .15s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
}

.cardFront:hover {
  box-shadow: 0 0 5px 2px #00000080;

}

.cardBack{
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 2px #0000004d;
  transition: .15s;
  --rotate-X: 180deg;
}

.cardBack:hover {
  box-shadow: 0 0 5px 2px #00000080;
}

.front {
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
}

.back {
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  --rotate-X: 180deg;
}




